.trip-img-wrapper {
  overflow: hidden;
}

.trip-img-box {
  background-color: rgba(0, 0, 0, 0.3);
}

.trip-img-wrapper > .trip-img-box {
  transition: transform 0.5s;
}

.trip-img-wrapper:hover > .trip-img-box {
  transform: translateY(-100%);
  transition: transform 0.5s;
}

.trip-img {
  object-fit: cover;
}
