.trip-img-wrapper {
  overflow: hidden;
}

.trip-img-box {
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 20px;
}

.trip-img-wrapper > .trip-img-box {
  transition: transform 0.5s ease-in-out;
}

.trip-img-wrapper:hover > .trip-img-box {
  transform: translateY(-95%);
  transition: transform 0.5s ease-in-out;
}

.trip-img {
  object-fit: cover;
}

.rotate-45 {
  transform: rotate(45deg);
}